.cus-spacer {
    height: 1px;
    position: relative;
    /*top: 9em;*/
}
.cus-light-grey-text {
    color: #bdbdbd;
}
.cus-light-grey {
    background: #bdbdbd;
}
.cus-black {
    background: #292929;
}
.cus-black-text {
    color: #292929;
}
/* TODO add @media rule for smaller devices to reposition button */
.next-btn-wrapper {
    position: absolute;
    right: 1%;
    margin-top: 7px;
}
.prev-btn-wrapper {
    position: absolute;
    left: 1%;
    margin-top: 7px;
}

.prev-btn-wrapper button, .next-btn-wrapper button {
    background-color:transparent;
    border:0px;
    display:inline-block;
    cursor:pointer;
    color:#dcdcdc;
    padding:0px 10px;
    padding-top: 6px;
    text-decoration:none;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.prev-btn-wrapper button:hover, .next-btn-wrapper button:hover {
    background-color: rgba(0,0,0,0.15);
    color:white;
    transition: all 0.3s ease;
}
.prev-btn-wrapper button:active, .next-btn-wrapper button:active {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    color:white;
    transition: all 0.15s ease-in;
}

.card-temp {
    height: 0px;
    opacity: 0;
}
.card-temp div, .card-temp img, .card-temp i {
    height: 0px;
}
.card-temp.show {
    height: auto;
    opacity: 1;
}
.card-temp.show div, .card-temp.show img, .card-temp.show i {
    height: auto;
}

.mycard-title {
    text-align: center;
    height: 100% !important;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #f3f3f3;
}

.card-tabber-section {
    position: relative;
    /*top: 9em;*/
}

.page-footer {
    position: relative;
    /*top: 9em;*/
}

/* Set up custom font */
@font-face {
    font-family: "Montserrat";
    src: local(Montserrat Bold), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: local(Montserrat SemiBold), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

/* Main title of page */
.page-title {
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 600;
    font-size: 3.7em !important;
    position: relative;
    float: left;
    min-width: 40%;
    margin: 0px;
    /* top: calc(8rem - 1.85em); */
}
.page-subtitle-row {
    max-width: 59%;
    position: relative;
    float: right;
    margin: auto;
}
.page-subtitle {
    line-height: 140%;
    font-size: 1.4em;
    margin: 0px;
}
.page-title-subtitle-container {
    height: 16em;
}

.brand-logo {
    font-family: Roboto Light, sans-serif;
    font-size: 1.1em !important;
}

.brand-logo-img {
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    top: 0.75em;
    filter: invert(1);
    margin-right: 0.65em;
}

h4 {
    font-size: 1.9em !important;
}

h5:not(.page-subtitle) {
    font-size: 1.6em !important;
}

h4, h5:not(.page-subtitle) {
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 600;
}

.mycard-title {
    font-family: Montserrat, sans-serif;
}

@media (max-width: 759px) {
    .page-title, .page-subtitle-row {
        width: 100%;
        max-width: 100%;
        float: left;
    }
    .page-subtitle-row {
        margin-top: 2em;
        margin-left: 0em !important;
    }
    .page-subtitle {
        font-size: 1.2em;
    }
    .page-title-subtitle-container {
        height: 22em;
    }
}

/* Temp Disable Mobile View */
.in-dev {
    display: none;
    height: 0px;
}
.in-dev .my-text {
    color: red;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
}
@media (max-width: 610px) {
    .in-dev {
        display: block;
        height: 100%;
        width: 100%;
        background: #ffeec6;
        z-index: 100;
        position: relative;
        padding: 1em;
    }
}
