/* Author: Jacques Mathieu
 * Date Created: 08-05-19
 *
 *  X XX  XX
 *  XX  XX  XX
 *  XX  XX  XX
 *  XX  XX  XX
 *  XX  XX  XX
 *  XX  XX  XX
 *  XX  XX  XX
 *  XX  XX  XX
 * XX
 * XXX
 * -------------|
 * ASCII logo   | 
 * made with    |
 * asciiflow.com )
 * -------------|
 * */
html, body, .section-list, #page-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.section-list {
  position: relative;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.section-list.show {
  opacity: 1;
  transition: all 0.4s ease-in;
}

.angular-section {
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  height: calc(45% - 5% - calc(5% + 0.5em));
  transition: all 0.2s linear;
}

.angular-divider, .angular-divider-rev {
  width: 100%;
  height: 0.5em;
}

.ang-div-wrapper {
  width: 100%;
  height: calc(5% + 0.5em);
  transition: all 0.2s linear;
}

.angular-content {
  height: 100%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.angular-content .banner-title-img {
  height: 100%;
  display: inline-block;
  max-width: 34%;
}
.angular-content .banner-title-img img {
  height: 100% !important;
  position: relative;
  float: left;
  max-width: 100%;
}

.section-links-wrapper {
  width: 66%;
  height: 100%;
  position: relative;
  float: right;
}

.section-links-header {
  position: relative;
  float: right;
  top: calc(50% - (calc(1.2rem + 0px)/2));
  font-family: "Montserrat", monospace, sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0px;
  padding-left: 0.65rem;
  height: calc(1.2rem + 0px);
}

.section-link {
  position: relative;
  float: right;
  height: 20%;
  max-height: 2.75em;
  top: calc(50% - (20%/2));
  padding-bottom: 0px;
  padding-right: 1.3rem;
  transition: all 0.2s linear;
}
.section-link a, .section-link img {
  height: 100%;
  max-height: 2.75em;
  position: relative;
}

.sl-hover-arrow {
  height: 0px;
  width: 0.5rem;
  opacity: 0;
  top: 0px;
  position: relative;
  left: calc(50% - 0.5rem);
  border-bottom: 0.5rem solid black;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  top: 0px;
  transition: all 0.2s ease;
}

.section-link a:hover + .sl-hover-arrow, .sl-hover-arrow.react-hover {
  opacity: 1;
  top: calc(0.5rem/1.5);
  transition: all 0.2s ease;
}

section.page-header {
  height: 2.4rem;
  font-size: 1rem;
  padding-left: 5%;
}
section.page-header .header-title {
  position: relative;
  float: left;
  padding-left: 1rem;
  text-align: center;
  line-height: calc(2.4rem * 11 / 12);
}
section.page-header .header-logo-wrapper {
  height: calc(100% - (calc(2.4rem / 6) * 2));
  padding-top: calc(2.4rem / 6);
  padding-bottom: calc(2.4rem / 6);
  position: relative;
  float: left;
  padding-left: 1rem;
  text-align: center;
  line-height: calc(2.4rem * 11 / 12);
}
section.page-header .header-logo-wrapper img {
  height: 100%;
}
section.page-header .header-tabs {
  position: relative;
  float: right;
  padding-right: 5%;
}
section.page-header .header-tabs .header-tab {
  position: relative;
  float: left;
  padding-right: calc(2.4rem / 6);
  padding-left: 1rem;
  text-align: center;
  line-height: calc(2.4rem * 11 / 12);
}

/*# sourceMappingURL=overhaul.css.map */
