/* Author: Jacques Mathieu
   Date Created: 08-02-19

   X XX  XX
   XX  XX  XX
   XX  XX  XX
   XX  XX  XX
   XX  XX  XX
   XX  XX  XX
   XX  XX  XX
   XX  XX  XX
  XX
XXX

-------------|
ASCII logo   | 
made with    |
asciiflow.com )
-------------|

*/
/* Init any default variables/colors needed */
* {
    --sharp-yellow: #FFDD0E;
    --soundcloud-orange: #f50;
}
/* Init page to enable % based widths and heights */
html, body, .section-list {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/* Wrapper for all sections */
.section-list {
    position: relative;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.section-list.show {
    opacity: 1;
    transition: all 0.4s ease-in;
}
/* A section of a page with sharp angles dividing it from another angular section */
.angular-section {
    width: 100%;
    padding-top: 5%;
    /*  Substract top padding from overall height along with angular divider height */
    height: calc(45% - 5% - 0.5em);
    transition: background-color 0.2s linear;
}
/* Angularly shaped divider to separate sections */
.angular-divider {
    width: 100%;
    height: 0.5em;
}
.ang-div-wrapper {
    width: 100%;
    height: calc(5% + 0.5em);
    transition: all 0.2s linear;
}
/* Main content for angular sections */
.angular-content {
    height: 100%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
.angular-content .banner-title-img {
    width: 100%;
    height: 100%;
}
.angular-content .banner-title-img img {
    height: 100% !important;
    position: relative;
    float: left;
}
#jmusic:hover, #jmusic:hover + .ang-div-wrapper {
    background-color: var(--soundcloud-orange);
    transition: all 0.2s linear;
}
.angular-section:hover, .angular-section:hover + .ang-div-wrapper {
    background-color: var(--sharp-yellow);
    transition: background-color 0.2s linear;
}
