/* Author: Jacques Mathieu
   Date Created: 08-05-19

    X XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
   XX
 XXX
 -------------|
 ASCII logo   | 
 made with    |
 asciiflow.com )
 -------------|
 */
// Init default variables here
$sharp-yellow: #FFDD0E
$scloud-orange: #F50
$ang-div-base-H: 0.5em
$ang-div-full-H: calc(5% + #{$ang-div-base-H})

=default_transition()
    transition: all 0.2s linear

// Init page to enable % based widths and heights
html, body, .section-list
    position: relative
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px

// Wrapper for all sections
.section-list
    position: relative
    opacity: 0
    transition: all 0.4s ease-out
    
.section-list.show
    opacity: 1
    transition: all 0.4s ease-in
    
// A section of a page with sharp angles dividing it from another angular section
$as-top-padding: 5%
.angular-section
    width: 100%
    padding-top: $as-top-padding
    // Substract top padding from overall height along with angular divider height
    height: calc(50% - #{$as-top-padding} - #{$ang-div-full-H})
    +default_transition()
    &:hover, &:hover + .ang-div-wrapper
        background-color: $sharp-yellow
        +default_transition()

// Angular section hover colors
#jmusic:hover, #jmusic:hover + .ang-div-wrapper
    background-color: $scloud-orange
    +default_transition()

// Angularly shaped divider to separate sections
.angular-divider
    width: 100%
    height: $ang-div-base-H
    
.ang-div-wrapper
    width: 100%
    height: $ang-div-full-H
    +default_transition()
    
// Main content for angular sections
.angular-content
    height: 100%
    width: 90%
    padding-left: 5%
    padding-right: 5%
    .banner-title-img
        width: 100%
        height: 100%
        img
            height: 100% !important
            position: relative
            float: left