/* Author: Jacques Mathieu
   Date Created: 08-05-19

    X XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
    XX  XX  XX
   XX
 XXX
 -------------|
 ASCII logo   | 
 made with    |
 asciiflow.com )
 -------------|
 */
// Init default variables here
$sharp-yellow: #FFDD0E
$scloud-orange: #F50
$ang-div-base-H: 0.5em
$ang-div-full-H: calc(5% + #{$ang-div-base-H})

=default_transition()
    transition: all 0.2s linear

=default_transition_imp()
    transition: all 0.2s linear !important

// Init page to enable % based widths and heights
html, body, .section-list, #page-content
    position: relative
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px

// Wrapper for all sections
.section-list
    position: relative
    opacity: 0
    transition: all 0.4s ease-out
    
.section-list.show
    opacity: 1
    transition: all 0.4s ease-in
    
// A section of a page with sharp angles dividing it from another angular section
$as-top-padding: 2.5%
$as-bottom-padding: 2.5%
$as-base-h: 45%
.angular-section
    width: 100%
    padding-top: $as-top-padding
    padding-bottom: $as-bottom-padding
    // Substract padding from overall height along with angular divider height
    height: calc(#{$as-base-h} - #{$as-top-padding + $as-bottom-padding} - #{$ang-div-full-H})
    +default_transition()
//    &:hover, &:hover + .ang-div-wrapper
//        background-color: $sharp-yellow
//        +default_transition()

// Angularly shaped divider to separate sections
.angular-divider, .angular-divider-rev
    width: 100%
    height: $ang-div-base-H
    
.ang-div-wrapper
    width: 100%
    height: $ang-div-full-H
    +default_transition()
//    display: flex
//    flex-direction: row

// Main content for angular sections
$ang-content-lr-padding: 5%

.angular-content
    height: 100%
    width: 90%
    padding-left: $ang-content-lr-padding
    padding-right: $ang-content-lr-padding
    .banner-title-img
        height: 100%
        display: inline-block
        max-width: 34%
        img
            height: 100% !important
            position: relative
            float: left
            max-width: 100%

$sl-dimensions: 20%
$arrow-size: 0.5rem
$sl-h-font-size: 1.2rem
$sl-h-padding-top: 0rem
$sl-h-padding-left: 0.65rem
$sl-h-height: $sl-h-font-size + $sl-h-padding-top

=sl_header_font()
    font-family: "Montserrat", monospace, sans-serif
    font-weight: 500
    color: black
    text-align: center
    font-size: $sl-h-font-size
    padding-top: $sl-h-padding-top
    padding-left: $sl-h-padding-left
    height: $sl-h-height
    
=arrow_transition()
    transition: all .2s ease

// Wrapper that holds all contents of section link related items
.section-links-wrapper
    width: 66%
    height: 100%
    position: relative
    float: right

// Header for section links
// TODO: consider changing name to that of hovered link on hover
.section-links-header
    position: relative
    float: right
    top: calc(50% - (#{$sl-h-height}/2))
    +sl_header_font()

$sl-padding-right: 1.3rem
// Styling for section links in angular sections
.section-link
    position: relative
    float: right
    height: $sl-dimensions
    max-height: 2.75em
    top: calc(50% - (#{$sl-dimensions}/2))
    padding-bottom: 0px
    padding-right: $sl-padding-right
    +default_transition()
    a, img
        height: 100%
        max-height: 2.75em
        position: relative

// Section link hover arrow
.sl-hover-arrow
    height: 0px
    width: $arrow-size
    opacity: 0
    top: 0px
    position: relative
    left: calc(50% - #{$arrow-size})
    border-bottom: $arrow-size solid black
    border-left: $arrow-size solid transparent
    border-right: $arrow-size solid transparent
    top: 0px
    +arrow_transition()

.section-link a:hover + .sl-hover-arrow, .sl-hover-arrow.react-hover
    opacity: 1
    top: calc(#{$arrow-size}/1.5)
    +arrow_transition()

// Styling for Page Header component
$page-header-font-size: 1rem
$page-header-H: 2.4rem
// Set line height to 1/12th less than the header height
$page-line-H: calc(#{$page-header-H} * 11 / 12)
$one-twelth-padding: calc(#{$page-header-H} / 12)
$one-sixth-padding: calc(#{$page-header-H} / 6)
=header-comp()
    padding-left: 1rem
    text-align: center
    line-height: $page-line-H

section.page-header
    height: $page-header-H
    font-size: $page-header-font-size
    padding-left: $ang-content-lr-padding
    .header-title
        position: relative
        float: left
        +header-comp()
    .header-logo-wrapper
        height: calc(100% - (#{$one-sixth-padding} * 2))
        padding-top: $one-sixth-padding
        padding-bottom: $one-sixth-padding
        position: relative
        float: left
        +header-comp()
        img
            height: 100%
    .header-tabs
        position: relative
        float: right
        padding-right: $ang-content-lr-padding
        .header-tab
            position: relative
            float: left
            padding-right: $one-sixth-padding
            +header_comp()
            &:hover
                cursor: pointer
            
// Mobile Stylings
//$phone-layout-enable: 450px
$phone-layout-enable: 500px
$mobile-sl-H: $sl-h-height * 2
$mobile-banner-img-H: 75%
$mobile-sl-wrapper-H: 100% - $mobile-banner-img-H
$mobile-as-top-padding: 3%
$mobile-as-bottom-padding: 2%
$mobile-as-H: 55%
$mobile-as-min-H: 14rem
@media only screen and (max-width: $phone-layout-enable)
    .angular-section
        min-height: $mobile-as-min-H
        height: calc(#{$mobile-as-H} - #{$mobile-as-top-padding} - #{$mobile-as-bottom-padding} - #{$ang-div-full-H})
        padding-bottom: $mobile-as-bottom-padding
        padding-top: $mobile-as-top-padding
        .angular-content
            .banner-title-img
                max-width: 100%
                width: 100%
                height: $mobile-banner-img-H
                img
                    height: auto
                    width: 55%
                    left: calc(45%/2)
            .section-links-wrapper
                max-width: 100%
                width: 55%
                float: left
                left: calc(45%/2)
                height: $mobile-sl-wrapper-H
                .section-links-header
                    float: left
                .section-link
                    top: calc(50% - (#{$mobile-sl-H}/2))
                    padding-left: $sl-padding-right
                    padding-right: 0px
                    max-height: 100%
                    height: $mobile-sl-H
                    &:last-child
                        padding-right: 0.2rem
                    a, a img
                        max-height: 100%
                        height: $mobile-sl-H
