@mixin default_transition()
        transition: all 0.2s linear
        
@mixin default_transition_imp()
        transition: all 0.2s linear !important
$sharp-yellow: #FFDD0E
$scloud-orange: #F50
$ang-div-base-H: 0.5rem
$ang-div-full-H: calc(5% + #{$ang-div-base-H})